body, html{
    background: black;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    /* margin-top: 5vh; */
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
}

.etchImg{
    width: 50vw;
    height: auto;
    z-index: 0;
}

.canvasContainer{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;;
    z-index: 1;
    padding-bottom: 5vh;
}

.EASCanvas{
    aspect-ratio: 4 / 3;
    width: 36%;
    height: auto;
    border-radius: 2vw;
    background-color: rgb(224, 212, 215, 0);
   
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.shaking {
    animation: shake .5s infinite;
}