body, html{
    background: black;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: auto;
    margin-top: 5vh;
}


.etchImg{
    width: 50vw;
    height: auto;
    z-index: 0;
}

.canvasContainer{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;;
    z-index: 1;
    margin-bottom: 2vh;
}

.EASCanvas{
    aspect-ratio: 4 / 3;
    width: 36%;
    height: auto;
    border-radius: 2vw;
    background-color: rgba(0, 255, 247, 0);
   
}

.p1, .p2{
    position: absolute;
    z-index: 2;
}

.p1{
    top: 80%;
    left: 25%;
}

.p2{
    top: 80%;
    right: 25%
}